{% extends 'base.html.twig' %}
	{% block title %}
Question/Answer App
{% endblock %}
	{% block body %}
		<div class="row"> <div class="col-12 text-center">
			<h1>fetch api data</h1>
			<table class="table">
				<tr>
					<th>id</th>
					<th>name</th>
					<th>username</th>
					<th>email</th>
					<th>phone</th>
					<th>company</th>
				</tr>
				{% for c in content %}
					<tr>
						<td>{{ c.id }}</td>
						<td>{{ c.name }}</td>
						<td>{{ c.username }}</td>
						<td>{{ c.email }}</td>
						<td>{{ c.phone }}</td>
						<td>{{ c.company.catchPhrase }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
